section{
    width: 100vw;
    height: calc(80.5vh - 60px);
    display: flex;
    &.dust{
        background: rgb(222,246,251);
        background: linear-gradient(0deg, rgba(222,246,251,1) 20%, rgba(175,175,186,1) 62%, rgba(118,114,129,1) 100%);
    }
    &.dawn{
        background: rgb(222,246,251);
        background: linear-gradient(0deg, rgb(255,255,255) 0%, rgb(215, 214, 151) 15%, rgb(231, 181, 116) 45%, rgb(230, 139, 127) 80%, rgb(135, 129, 152) 100%);
    }
}