<section>
  <div class="column" style="overflow: scroll; height: 100%">
    <app-city-main></app-city-main>
    <app-hourly-forecast></app-hourly-forecast>
    <div style="display: flex; flex-wrap: wrap; margin-bottom: 15px">
      <app-ten-day-forecast style="width: 50%"></app-ten-day-forecast>
      <div class="frame" style="width: 50%; height: 100%">
        <app-percipatation style="width: 100%; height: 70%"></app-percipatation>
        <app-air-quality style="width: 100%; height: 30%"></app-air-quality>
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px">
      <app-moon style="width: 50%"></app-moon>
      <app-wind style="width: 50%"></app-wind>
    </div>
    <div class="row" style="flex-wrap: wrap">
      <app-uv-index style="width: 25%"></app-uv-index>
      <app-sun style="width: 25%"></app-sun>
      <app-feels-like style="width: 25%"></app-feels-like>
      <app-humidity style="width: 25%"></app-humidity>
    </div>
  </div>
</section>
