ul li{
    list-style: none;
    text-align: center;
}
section{
    background-color: #232323;
    padding: 20px 25px 30px 25px;
    width: calc(100vw - 50px);
    height: 10vh;
}
p{
    color: #ffffffd0;
    // &:hover{
    //     color: #fff;
    // }
}