section{
    width: 100%;
    display: flex;
    border-bottom: 1pt solid #ffffffd0;
    padding-top: 15px;
    & div{
        display: flex;
        width: 60%;
        flex-direction: column;
        padding: 0 0 15px 0;
        text-align: start;
    }
    & div:nth-child(2){
        width: 40%;
        text-align: end;
    }
}
ul{
    padding: 0;
}