@import './../../../vars';
ul{
    display: flex;
}
li{
    padding: 15px 25px 0 25px;
    font-size: $s;
    &:nth-child(2), &:nth-child(1){
        padding: 10px 25px 0 0;
    }
    & span:hover{
        text-shadow: 0 0 1px #5d5d5dd0;
    }
}
input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #e4e4e4;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #dadada;
    box-shadow: 0 20px 30px #a7a7a7ae;
    padding: 10px 25px 0 25px;
    width: calc(100vw - 50px);
    height: 9.5vh;
}
#submit-input{
    width: 55px;
    // height: 30px;
    transition: all 200ms ease-in-out;
    &:hover{
        box-shadow: 0 0 10px #2323233f;
        transform: translateY(-1px);
    }
}
h1{
    font-variant: small-caps;
    letter-spacing: 1px;
}
a{
    color: #000;
    text-decoration: none;
}