@use "../../../assets/styles/layout";

#frame {
  height: calc(100vh - layout.$header-height);

  .weather-data {
    width: (100vw - layout.$sidebar-width);

    & > div{
      padding: 10px;
    }
  }
}

