<div id="frame" class="row">
  <app-sidebar />
  <div class="weather-data">
    <div style="display: flex; justify-content: center">
      <app-temperature />
    </div>
    <div style="display:flex; justify-content: space-between">
      <!--app-weather-icon></app-weather-icon-->
      <app-feels-like />
      <app-humidity />
      <app-wind />
    </div>
    <div style="display:flex; justify-content: space-between">
      <app-pressure />
      <app-sun />
      <app-visibility />
    </div>
  </div>
</div>

