ul li:nth-child(2){
    border-top: 1pt solid #232323;
    border-bottom: 1pt solid #232323;
}
ul div{
    display: flex;
    justify-content: space-between;
}
// div.main-window-item{
//     width: calc(50vw - 200px);
// }
