<section>
  <ul
    class="column"
    style="
      overflow: scroll;
      padding: 50px 0;
      justify-content: start;
      align-items: center;
    "
  >
    <li>
      <app-city-main></app-city-main>
    </li>
    <li>
      <ul class="row">
        <li><app-icon></app-icon></li>
        <li><app-humidity></app-humidity></li>
        <li><app-feels-like></app-feels-like></li>
      </ul>
    </li>
    <li>
      <ul class="row">
        <li><app-wind></app-wind></li>
        <li><app-sun></app-sun></li>
        <li><app-visibility></app-visibility></li>
        <!-- <li><app-pressure></app-pressure></li> -->
      </ul>
    </li>
  </ul>
</section>
