<section>
  <div class="column" style="overflow: scroll; height: 100%">
    <app-city-main></app-city-main>
    <app-hourly-forecast></app-hourly-forecast>
    <div style="display: flex; flex-wrap: wrap; margin-bottom: 15px">
      <app-percipatation style="width: 50%"></app-percipatation>
      <div class="row frame" style="flex-wrap: wrap; width: 50%">
        <app-wind></app-wind>
        <app-sun></app-sun>
        <app-feels-like></app-feels-like>
        <app-humidity></app-humidity>
      </div>
    </div>
  </div>
</section>
