<div class="frame settings-container">
  <p class="value">{{"settings.heading" | translate}}</p>
  <ul>
    <li class="weather-detail column">
      <p class="caption">{{"settings.options.language.heading" | translate}}</p>
      <span>{{"settings.options.language.info" | translate}}{{store.lang()}}</span>
      <div>
        <button (click)="switchLang()">{{"settings.options.language.icon" | translate}}</button>
        <span>{{"settings.click" | translate}}</span>
      </div>
    </li>
    <li class="weather-detail column">
      <p class="caption">{{"settings.options.metric.heading" | translate}}</p>
      <span>{{"settings.options.metric.info" | translate}}{{store.unit()}}</span>
    </li>
    <li class="weather-detail column">
      <p class="caption">{{"settings.options.visuals.heading" | translate}}</p>
      <span>{{"settings.options.visuals.info" | translate}}{{store.theme()}}</span>
    </li>
    <li class="weather-detail column">
      <p class="caption">{{"settings.options.clock.heading" | translate}}</p>
    </li>
  </ul>
</div>

