.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;

    li {
      margin: 10px;
      align-items: center;
    }
  }

  button {
    width: 50px;
    height: 45px;
    border-radius: 10px;
    background-color: #23232330;
    border: none;
    ;
  }

  .info {
    padding-left: 10px;
  }
}

