@import "../../vars";
div{
    width: auto;
}
ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.xl{
    @include fontSize($xl, "center");
}
.l{
    @include fontSize($l, "center");
}
.m{
    @include fontSize($m, "center");
}
.s{

}
.xs{

}
.xss{

}