// variables
$dust-background: rgb(222, 246, 251);
$dust-gradient: linear-gradient(0deg,
    rgba(222, 246, 251, 1) 20%,
    rgba(175, 175, 186, 1) 62%,
    rgba(118, 114, 129, 1) 100%
  );
$dawn-background: rgb(222, 246, 251);
$dawn-gradient: linear-gradient(0deg,
    rgb(224, 223, 166) 15%,
    rgb(231, 181, 116) 45%,
    rgb(230, 139, 127) 80%
  );
$header-span-shadow: #5d5d5dd0;
$header-input-background: #e4e4e4;
$header-background: #dadada;
$header-box-shadow: #a7a7a7ae;
$submit-hover-shadow: #2323233f;

$footer-background: #232323;
$footer-text: #ffffffd0;

$section-background: #23232383;

$black: #000;
$soft-white: #ffffffd0;

